.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.link {
  display: inline-block;
  text-decoration: none;
  font-family: Coiny;
  padding: 12px;
  font-weight: 600;
  font-size: 18px;
  color: blueviolet;
  transition-property: color;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link.isActive {
  color: violet;
}
.link:hover,
.link:focus {
  color: magenta;
}
